/* Write your CSS code here */
.blog-list-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.title-and-date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title {
  color: #12022f;
  font-size: 20px;
  font-weight: 500;
}
.published-date {
  color: #9aa5b1;
  font-size: 14px;
  font-weight: 400;
}
.description {
  color: #616e7c;
  font-size: 17px;
  font-weight: 500;
}
